includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - app/
        - config/
    ignoreErrors:
        - identifier: missingType.generics
          path: app/Core/Models
